

*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
}



#navbar{
    background-color: rgb(173, 173, 173);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



#day-plan-form{
    border: 1px solid green;
    height: 80%;
}


#footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(173, 173, 173);
    /* border-top: 0.5em solid #4aaaa5; */
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 5%;
}





/* ------------------------------------------------------*/
/* -----------------MOBILE RESPONSIVE ------------------ */
/* ------------------------------------------------------*/


/* @media screen and (max-width: 767px) {} */




/* ------------------------------------------------------------------------------------------------------------------- */





/* ------------------------------------------------------*/
/* -----------------TABLET RESPONSIVE ------------------ */
/* ------------------------------------------------------*/


/* @media screen and (min-width: 768px) {} */



/* --------------------------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------*/
/* ----------------DESKTOP RESPONSIVE ------------------ */
/* ------------------------------------------------------*/

/* @media screen and (min-width: 1025px) {} */
