

*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
}








/* ------------------------------------------------------*/
/* -----------------MOBILE RESPONSIVE ------------------ */
/* ------------------------------------------------------*/


@media screen and (max-width: 767px) {

    #navbar {
        -webkit-box-shadow: inset 0px 0px 25px 7px rgba(0,0,0,0.55);
        -moz-box-shadow: inset 0px 0px 25px 7px rgba(0,0,0,0.55);
        box-shadow: inset 0px 0px 25px 7px rgba(0,0,0,0.55);        
        background-color: rgb(173, 173, 173);
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        height: 10vh;
        right: 0;
        top: 0;
        left: 0;
    }


    #nav-bar-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 900;
    }

    #moment-date {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 900;
    }
    
    
    #container {
        height: 100%;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url(assets/images/2.jpg);
        /* border: 3px solid orange */
    }
    
    
    
    #day-plan-form {
        height: 80%;
        width: 80%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5vh;
        /* border: 1px solid green; */
    }
    
    
    #planner-container {
        width: 100%;
        /* border: 3px solid turquoise; */
    }
    
    
    
    
    .div-row-mob {
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5%;
    }
    
    
    .div-hour-mob {
        width: 10%;
        height: 8vh;
        display:flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 8px;
        font-weight: 900;
        color: rgb(85, 84, 84);
        background-color: rgba(173, 173, 173, 0.700);
        margin-right: 0.4vh;
        -webkit-box-shadow: inset 0px 0px 12px 3px rgba(0,0,0,0.4);
        -moz-box-shadow: inset 0px 0px 12px 3px rgba(0,0,0,0.4);
        box-shadow: inset 0px 0px 12px 3px rgba(0,0,0,0.4);
    }
    
    
    
    .div-input-mob {
        width:80%;
        height: 8vh;
        border: none;
        font-size: 8px;
        font-weight: 900;
        padding: 0 0.5em;
        -webkit-box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.4);
        -moz-box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.4);
        box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.4);    
    }
    
    
    
    
    .save-btn-mob {
        width: 10%;
        height: 8vh;
        display:flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 8px;
        font-weight: 900;
        color: rgb(85, 84, 84);
        background-color: rgb(173, 173, 173, 0.700);
        margin-left: 0.4vh;
        -webkit-box-shadow: inset 0px 0px 12px 3px rgba(0,0,0,0.4);
        -moz-box-shadow: inset 0px 0px 12px 3px rgba(0,0,0,0.4);
        box-shadow: inset 0px 0px 12px 3px rgba(0,0,0,0.4);
    }
    
    
    
    
    #footer {
        display:flex;
        justify-content: center;
        align-items: center;
        background: rgb(173, 173, 173);
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        height: 5%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 6px;
        -webkit-box-shadow: inset 0px 0px 12px 4px rgba(0,0,0,0.55);
        -moz-box-shadow: inset 0px 0px 12px 4px rgba(0,0,0,0.55);
        box-shadow: inset 0px 0px 12px 4px rgba(0,0,0,0.55);
    }

}




/* ------------------------------------------------------------------------------------------------------------------- */





/* ------------------------------------------------------*/
/* -----------------TABLET RESPONSIVE ------------------ */
/* ------------------------------------------------------*/


@media screen and (min-width: 768px) {

    #navbar {
        background-color: rgb(173, 173, 173);
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        height: 10vh;
        right: 0;
        top: 0;
        left: 0;
        -webkit-box-shadow: inset 0px 0px 25px 7px rgba(0,0,0,0.55);
        -moz-box-shadow: inset 0px 0px 25px 7px rgba(0,0,0,0.55);
        box-shadow: inset 0px 0px 25px 7px rgba(0,0,0,0.55);        
    }


    #nav-bar-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: 900;
    }

    #moment-date {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 900;
    }
    
    
    #container {
        height: 100%;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url(assets/images/2.jpg);
        /* border: 3px solid orange */
    }
    
    
    
    #day-plan-form {
        height: 80%;
        width: 80%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5vh;
        /* border: 1px solid green; */
    }
    
    
    #planner-container {
        width: 100%;
        /* border: 3px solid turquoise; */
    }
    
    
    
    
    .div-row-tab {
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5%;
    }
    
    
    .div-hour-tab {
        width: 10%;
        height: 8vh;
        display:flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 900;
        color: rgb(85, 84, 84);
        background-color: rgba(173, 173, 173, 0.700);
        margin-right: 0.4vh;
        -webkit-box-shadow: inset 0px 0px 12px 3px rgba(0,0,0,0.4);
        -moz-box-shadow: inset 0px 0px 12px 3px rgba(0,0,0,0.4);
        box-shadow: inset 0px 0px 12px 3px rgba(0,0,0,0.4);

    }
    
    
    
    .div-input-tab {
        width:80%;
        height: 8vh;
        border: none;
        font-size: 20px;
        font-weight: 900;
        padding: 0 0.5em;
        -webkit-box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.4);
        -moz-box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.4);
        box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.4);    
    }
    
    
    
    
    .save-btn-tab {
        width: 10%;
        height: 8vh;
        display:flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 18px;
        font-weight: 900;
        color: rgb(85, 84, 84);
        background-color: rgb(173, 173, 173, 0.700);
        margin-left: 0.4vh;
        -webkit-box-shadow: inset 0px 0px 12px 3px rgba(0,0,0,0.4);
        -moz-box-shadow: inset 0px 0px 12px 3px rgba(0,0,0,0.4);
        box-shadow: inset 0px 0px 12px 3px rgba(0,0,0,0.4);
    }
    
    
    
    
    #footer {
        display:flex;
        justify-content: center;
        align-items: center;
        background: rgb(173, 173, 173);
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        height: 5%;
        font-size: 10px;
        -webkit-box-shadow: inset 0px 0px 20px 4px rgba(0,0,0,0.55);
        -moz-box-shadow: inset 0px 0px 20px 4px rgba(0,0,0,0.55);
        box-shadow: inset 0px 0px 20px 4px rgba(0,0,0,0.55);
    }

}



/* --------------------------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------*/
/* ----------------DESKTOP RESPONSIVE ------------------ */
/* ------------------------------------------------------*/

@media screen and (min-width: 1025px) {

    #navbar {
        background-color: rgb(173, 173, 173);
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        height: 10vh;
        right: 0;
        top: 0;
        left: 0;
        -webkit-box-shadow: inset 0px 0px 40px 7px rgba(0,0,0,0.79);
        -moz-box-shadow: inset 0px 0px 40px 7px rgba(0,0,0,0.79);
        box-shadow: inset 0px 0px 40px 7px rgba(0,0,0,0.79);
    }


    #nav-bar-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: 900;
    }

    #moment-date {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 900;
    }
    
    
    #container {
        height: 100%;
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url(assets/images/2.jpg);
        /* border: 3px solid orange */
    }
    
    
    
    #day-plan-form {
        height: 80%;
        width: 80%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5vh;
        /* border: 1px solid green; */
    }
    
    
    #planner-container {
        width: 100%;
        /* border: 3px solid turquoise; */
    }
    
    
    
    
    .div-row-dsk {
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5%;
    }
    
    
    .div-hour-dsk {
        width: 10%;
        height: 8vh;
        display:flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 25px;
        font-weight: 900;
        color: rgb(85, 84, 84);
        background-color: rgba(173, 173, 173, 0.700);
        margin-right: 0.4vh;
        -webkit-box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.6);
        -moz-box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.6);
        box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.6);
    }
    
    
    
    .div-input {
        width:80%;
        height: 8vh;
        border: none;
        font-size: 20px;
        font-weight: 900;
        padding: 0 0.5em;
        -webkit-box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.6);
        -moz-box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.6);
        box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.6);
    }
    
    
    
    
    .save-btn-dsk {
        width: 10%;
        height: 8vh;
        display:flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 25px;
        font-weight: 900;
        color: rgb(85, 84, 84);
        background-color: rgb(173, 173, 173, 0.700);
        margin-left: 0.4vh;
        -webkit-box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.6);
        -moz-box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.6);
        box-shadow: inset 0px 0px 30px 8px rgba(0,0,0,0.6);
    }
    
    
    
    
    #footer {
        display:flex;
        justify-content: center;
        align-items: center;
        background: rgb(173, 173, 173);
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        height: 5%;
        font-size: 10px;
        -webkit-box-shadow: inset 0px 0px 20px 4px rgba(0,0,0,0.79);
        -moz-box-shadow: inset 0px 0px 20px 4px rgba(0,0,0,0.79);
        box-shadow: inset 0px 0px 20px 4px rgba(0,0,0,0.79);
    }
    
}
